@font-face {
    font-family: 'Hahmlet-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.container {
	font-family: 'Hahmlet-Regular';
	position: relative;
	width: 350px;
	height: 250px;
	top: 340px;
	left: 670px;
	border-radius: 5px;
	border: 1px solid gainsboro
}

.container h2 {
	padding-top: 20px;
	text-align: center;
}

.container .container_in {
	margin: 20px;
	text-decoration: underline;
}